.node {
    /* margin-right: 0.2px; */
    /* margin-bottom: 1px; */
    /* width: 40px; */
    /* height: 40px; */
    background-color: white;
    /* border: 1px solid black; */
    outline: 1px solid black;
}


.node-shortest-path {
    background-color: yellow !important;
}

.start-node {
    background-color: blueviolet !important;
}

.end-node {
    background-color: brown !important;
}


.node-wall {
    background-color: chocolate;
}


.node-path {
    background-color: blue;
    animation: animate-path 1s;
    animation-fill-mode: forwards;
}

@keyframes animate-path {
    to {
        background-color: aqua;
    }
}


.node-maze {
    background-color: grey;
    /* animation: animate-maze 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; */
}

.node-stop {
    background-color: green;
}

@keyframes animate-maze {
    to {
        background-color: grey;
    }
}


.boundary-node {
    /* background-color: blueviolet; */
}